@charset "UTF-8";

body{
    background-color:darkcyan;
    color: antiquewhite;
    font-size:  20px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1{
    color: white;
}

h2{
    color: blueviolet;
}
p{
    color: goldenrod;
    text-align: justify;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
